<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/member/loginmember.css}">
</head>
<body>
<div class="container">
    <div class="card">
        <img th:src="@{/images/gymLogo.png}" alt="gym Logo" class="logo">

        <p th:text="${error}" class="error-message"></p>
        <form th:action="@{/member/login}" th:object="${member}" method="post">
            <div class="form-group">
                <input type="text" name="userName" th:field="*{userName}" class="form-control" id="userName" placeholder="User Name" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" th:field="*{password}" class="form-control" id="password" placeholder="Password" required>
            </div>

            <button type="submit" class="btn">Login</button>


            <div class="register-text">
                <p>You don't have an account? <a th:href="@{/member/register/step1}" class="register-link">REGISTER HERE</a></p>
            </div>
        </form>
    </div>
</div>
</body>
</html>
