<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/coach/registration.css}">
</head>
<body>
<div class="registration-form">
    <div class="form-header">
        <div class="logo">LOGO</div>
        <div class="title">
            <h1>REGISTRATION</h1>
            <p>Onboard new coaches and track their development.<br>Please fill out the form to register as a coach.</p>
        </div>
    </div>
    <form th:action="@{/coach/register}" th:object="${coach}" method="post">
        <div class="form-group">
            <label for="full-name">Full Name :</label>
            <input type="text" th:field="*{fullName}" class="form-control" id="full-name" placeholder="Full Name">
        </div>
        <div class="form-group">
            <label for="user-name">User Name :</label>
            <input type="text" th:field="*{userName}" class="form-control" id="user-name" placeholder="User Name">
        </div>
        <div class="form-group">
            <label for="mobile">Contact Number :</label>
            <input type="text" th:field="*{contactNumber}" class="form-control" id="mobile" placeholder="Contact Number">
        </div>
        <div class="form-group">
            <label for="address">Address :</label>
            <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="Address">
        </div>
        <div class="form-group">
            <label for="gender">Gender :</label>
            <div class="gender-options">
                <input type="radio" th:field="*{gender}" value="Male" id="male" name="gender">
                <label for="male">Male</label>
                <input type="radio" th:field="*{gender}" value="Female" id="female" name="gender">
                <label for="female">Female</label>
                <input type="radio" th:field="*{gender}" value="Other" id="other" name="gender">
                <label for="other">Other</label>
            </div>
        </div>
        <br>

        <div class="form-group">
            <label for="experienceYears">Experience (Years) :</label>
            <input type="text" th:field="*{experienceYears}" class="form-control" id="experienceYears" placeholder="Experience">
        </div>

        <div class="form-group">
            <label for="experienceHistory">Experience History :</label>
            <input type="text" th:field="*{experienceHistory}" class="form-control" id="experienceHistory" placeholder="Experience History">
        </div>

        <div class="form-group">
            <label for="password">Password :</label>
            <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password :</label>
            <input type="text" name="confirmPassword" class="form-control" id="confirm-password" placeholder="Confirm Password">
        </div>

        <div class="form-footer">
            <p>Already have an account? <a th:href="@{/coach/login}">LOGIN HERE</a></p>
            <button type="submit" class="reg-btn">Register</button>
        </div>
    </form>
</div>
</body>
</html>