<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
    <link rel="stylesheet" th:href="@{/css/firstpage.css}">
</head>
<body>
<header>
    <div class="header-content">
        <h1>Gym Management and Online Coaching Platform</h1>
    </div>
</header>
<div class="container">
    <div class="card">
        <img th:src="@{/images/gymLogo.png}" alt="gym Logo" class="logo">
        <form>
            <button type="submit" class="btn" formaction="/member/login">MEMBER</button>
            <button type="submit" class="btn" formaction="/coach/login">COACH</button>
            <button type="submit" class="btn" formaction="/admin/login">ADMIN</button>
        </form>
    </div>
</div>
<footer>
    <div class="footer-content">
        <div class="footer-left">
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms of Use</a> |
            <a href="#">General Terms & Conditions</a>
            <p>© 2024 Group project 4x. All rights reserved.</p>
        </div>
        <div class="footer-right">
            <p>Join Us :</p>
        </div>
    </div>
</footer>
</body>
</html>
