body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1581009137042-c552e485697a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-form {
    background-color: rgba(217, 217, 217, 0.67);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    color: #ffffff;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.title {
    text-align: right;
}

.title h1 {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #1b1919;
}

.title p {
    margin: 0;
    font-size: 12px;
    color: #3f3e3e;
}

.paragraph p {
    font-size: 14px;
    color: #000000;
}

.paragraph-3 p {
    font-size: 15px;
    color: #000000;
    font-weight: bold; 
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


.form-group label {
    font-size: 14px;
    color: #000000;
}

.form-group input[type="text"],
.form-group input[type="date"] {
    width: 65%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(135deg, #020202 0%, #686060 100%);
    color: #7a7878;
}

.gender-options {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.gender-options label {
    margin-right: 10px;
}

.gender-options input[type="radio"] {
    margin-right: 5px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.form-footer p {
    margin: 0;
    font-size: 11px;
    color: #1f1e1e;
}

.form-footer a {
    color: #1f1e1e;
    text-decoration: underline;
}

.next-btn {
    padding: 5px 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(135deg, #020202 0%, #686060 100%);
    color: #fdfdfd;
    cursor: pointer;
    font-size: 10px;
}

.next-btn:hover {
    background: linear-gradient(135deg, #686060 0%, #020202 100%);
}

.plan-btn {
    padding: 20px 20px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(135deg, #020202 0%, #686060 100%);
    color: #fdfdfd;
    cursor: pointer;
    font-size: 10px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;     /* Center text within the button */
    margin-left: 5px;  /* Add left margin */
    margin-right: 5px; /* Add right margin */
}

.plan-btn:hover {
    background: linear-gradient(135deg, #686060 0%, #020202 100%);
}

.reg-btn {
    display: inline-block;
    width: 30%;
    padding: 12px;
    background: linear-gradient(135deg, #020202 0%, #686060 100%);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 30px;
}

.reg-btn:hover {
    background: linear-gradient(135deg, #686060 0%, #020202 100%);
}
